@import "tailwindcss";

.slide-top-lg {
	-webkit-animation: slide-top-lg 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-top-lg 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

 @-webkit-keyframes slide-top-lg {
  0% {
    -webkit-transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
            transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
  }
  100% {
    -webkit-transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
            transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
  }
}
@keyframes slide-top-lg {
  0% {
    -webkit-transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
            transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
  }
  100% {
    -webkit-transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
            transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
  }
}

.slide-top-sm {
	-webkit-animation: slide-top-sm 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-top-sm 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

 @-webkit-keyframes slide-top-sm {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
            transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
  }
}
@keyframes slide-top-sm {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
            transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
  }
}

.slide-bottom-lg {
	-webkit-animation: slide-bottom-lg 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-bottom-lg 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

 @-webkit-keyframes slide-bottom-lg {
  0% {
    -webkit-transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
            transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
  }
  100% {
    -webkit-transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
            transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
  }
}
@keyframes slide-bottom-lg {
  0% {
    -webkit-transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
            transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
  }
  100% {
    -webkit-transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
            transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
  }
}

.slide-bottom-sm {
	-webkit-animation: slide-bottom-sm 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-bottom-sm 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

 @-webkit-keyframes slide-bottom-sm {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
            transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
  }
}
@keyframes slide-bottom-sm {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
            transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
  }
}