@import "tailwindcss";

@font-face {
  font-family: ABCSyntMono;
  src: url('https://cdnhnhyn.aggingkobe.com/ABCSyntMono-Regular.woff2?v=2') format('woff2'),
       url('https://cdnhnhyn.aggingkobe.com/ABCSyntMono-Regular.woff?v=2') format('woff');
}

.slide-top-lg {
	-webkit-animation: slide-top-lg  both;
	        animation: slide-top-lg  both;
}

 @-webkit-keyframes slide-top-lg {
  0% {
    -webkit-transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
            transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
  }
  100% {
    -webkit-transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
            transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
  }
}
@keyframes slide-top-lg {
  0% {
    -webkit-transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
            transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
  }
  100% {
    -webkit-transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
            transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
  }
}

.slide-top-sm {
	-webkit-animation: slide-top-sm both;
	        animation: slide-top-sm  both;
}

 @-webkit-keyframes slide-top-sm {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
            transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
  }
}
@keyframes slide-top-sm {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
            transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
  }
}

.slide-bottom-lg {
	-webkit-animation: slide-bottom-lg both;
	        animation: slide-bottom-lg both;
}

 @-webkit-keyframes slide-bottom-lg {
  0% {
    -webkit-transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
            transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
  }
  100% {
    -webkit-transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
            transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
  }
}
@keyframes slide-bottom-lg {
  0% {
    -webkit-transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
            transform: translateY(calc(-50svh + env(safe-area-inset-bottom) + 31px));
  }
  100% {
    -webkit-transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
            transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
  }
}

.slide-bottom-sm {
	-webkit-animation: slide-bottom-sm both;
	        animation: slide-bottom-sm both;
}

 @-webkit-keyframes slide-bottom-sm {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
            transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
  }
}
@keyframes slide-bottom-sm {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
            transform: translateY(calc(50svh - env(safe-area-inset-bottom) - 31px));
  }
}